.connect_flex{
    display: flex;
    align-items: center;
    justify-content: space-around;
    text-align: left;
    padding: 2rem;
}
.connect_item{
    flex: 1 1 0;
}
.connect_item > p{
    color: #AEAEAE;
    padding: 1rem 0;
    padding-bottom: 2rem;
    line-height: 1.6;
    text-align: justify;
}
/* .connect_item img{
    max-width: 400px;
} */

@media (max-width: 800px) {
    .connect_flex{
        flex-direction: column-reverse;
        text-align: center;
    }
    .connect_item img{
        max-width: 300px;
    }
}